# github folder and all project root files (readme, license, general config, etc.)
.github/         @kt3k
/*               @kt3k

# deno std
_tools/          @kt3k
archive/         @kt3k
assert/          @kt3k
async/           @kt3k
bytes/           @kt3k
collections/     @kt3k
console/         @kt3k
crypto/          @kt3k
csv/             @kt3k
data_structures/ @kt3k
datetime/        @kt3k
dotenv/          @kt3k
encoding/        @kt3k
flags/           @kt3k
fmt/             @kt3k
front_matter/    @kt3k
fs/              @kt3k
html/            @kt3k
http/            @kt3k
io/              @kt3k
json/            @kt3k
jsonc/           @kt3k
log/             @kt3k
media_types/     @kt3k
msgpack/         @kt3k
path/            @kt3k
permissions/     @kt3k
regexp/          @kt3k
semver/          @kt3k
signal/          @kt3k
streams/         @kt3k @crowlKats
testing/         @kt3k
toml/            @kt3k
url/             @kt3k
uuid/            @kt3k
wasi/            @kt3k
yaml/            @kt3k
