# github folder and all project root files (readme, license, general config, etc.)
.github/      @bartlomieju @kt3k
/*            @bartlomieju @kt3k

# deno std
_util/        @bartlomieju @kt3k
_wasm_crypto/ @bartlomieju @kt3k
archive/      @bartlomieju @kt3k
async/        @bartlomieju @kt3k
bytes/        @bartlomieju @kt3k
collections/  @bartlomieju @kt3k
crypto/       @bartlomieju @kt3k
datetime/     @bartlomieju @kt3k
encoding/     @bartlomieju @kt3k
examples/     @bartlomieju @kt3k
flags/        @bartlomieju @kt3k
fmt/          @bartlomieju @kt3k
fs/           @bartlomieju @kt3k
hash/         @bartlomieju @kt3k
http/         @bartlomieju @kt3k
io/           @bartlomieju @kt3k
log/          @bartlomieju @kt3k
mime/         @bartlomieju @kt3k
node/         @bartlomieju @kt3k @bnoordhuis
path/         @bartlomieju @kt3k
permissions/  @bartlomieju @kt3k
signal/       @bartlomieju @kt3k
streams/      @bartlomieju @kt3k
testing/      @bartlomieju @kt3k
textproto/    @bartlomieju @kt3k
uuid/         @bartlomieju @kt3k
wasi/         @bartlomieju @kt3k