.DS_Store
.idea
.vim
**/cov/
crypto/_wasm/target
deno.lock
cli/testdata/unicode_width_crate/target
html_cov/
cov.lcov
http/testdata/%25A.txt
http/testdata/file#2.txt
http/testdata/test file.txt
coverage/
docs/
