name: version_bump
permissions:
  contents: write
on: workflow_dispatch
jobs:
  build:
    name: version bump
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Clone repository
        uses: actions/checkout@v6

      - name: Set up Deno
        uses: denoland/setup-deno@v2
        with:
          cache: true

      - name: Run version bump
        run: |
          git fetch --unshallow origin
          deno run -A jsr:@deno/bump-workspaces@^0.1/cli --import-map import_map.json
        env:
          GITHUB_TOKEN: ${{ secrets.DENOBOT_PAT }}
          GIT_USER_NAME: ${{ github.actor }}
          GIT_USER_EMAIL: ${{ github.actor}}@users.noreply.github.com
