name: workspace publish

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Clone repository
        uses: actions/checkout@v5

      - name: Set up Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: canary
          cache: true

      - name: Format
        run: deno fmt --check

      - name: Test
        run: deno task test

      - name: Publish to JSR
        run: deno publish
